<form  action="/register" method="post" >
  <label for="username">User Name:</label>
  <input type="text" name="username" placeholder='e.g Enter User Name'>
  <label for="email">Email:</label>
  <input type="email" name="email" placeholder='e.g Enter Email'>
  <label for="password">Create Password:</label>
  <input type="text" name="password" placeholder='e.g Enter Password'>
  <button>Register</button>
</form>
