<h1 style="font-size: 35px;">Welcome to Circuit Check</h1>
<h2 style="font-size: 25px;">The Circuit Review Web App</h2>

<div class="homeTabs">
  <div class="columns">

    <div class="padded-container center narrow">
      <% if(!locals.isLoggedIn){ %>
      <a class="homeTabTags" href="/login">
        <div class="regionDiv">
          <p>Login</p>
        </div>
      </a>

      <a class="homeTabTags" href="/register">
        <div class="regionDiv">
          <p>Register</p>
        </div>
      </a>
    <% } %>

    <% if(locals.isLoggedIn){ %>
      <a class="homeTabTags" href="/circuits">
        <div class="regionDiv">
          <p>View Circuit List</p>
        </div>
      </a>
    <% } %>
  </div>
</div>
