<h1 style="font-size: 35px;">Welcome to Circuit Check</h1>
<h2 style="font-size: 25px;">The Circuit Review Web App</h2>

<div class="homeHeaders">
  <h3 style="font-size: 25px;">Find a Circuit</h3>
  <p style="font-size: 20px;">Click any region below to select all available circuits within the area</p>
</div>

<div>
  <div class="columns">

    <div class="column">
      <div class="regionDiv">
        <p>Great London</p>
      </div>

      <div class="regionDiv">
        <p>South East</p>
      </div>

      <div class="regionDiv">
        <p>South West</p>
      </div>

      <div class="regionDiv">
        <p>West Midlands</p>
      </div>

      <div class="regionDiv">
        <p>North West</p>
      </div>

      <div class="regionDiv">
        <p>North East</p>
      </div>

      <div class="regionDiv">
        <p>Yorkshire and the Humber</p>
      </div>

      <div class="regionDiv">
        <p>East Midlands</p>
      </div>

      <div class="regionDiv">
        <p>East of England</p>
      </div>
    </div>

    <div class="column">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/BLANK_in_England.svg/816px-BLANK_in_England.svg.png"/>
    </div>

  </div>
</div>
