<%#---->make sure only admin user can access create and edit actions on the show page   %>
<%#---->make sure only registered users can leave comments or add ratings  %>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Circuits Check</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class='navbar-start'>
          <a class='navbar-item' href="/">Home</a>
        </div>
          <div>
            <a class='navbar-item' href="/about">About</a>
          </div>
          <div>
            <a class='navbar-item' href="/circuits">Circuits</a>
          </div>
          <% if(!locals.isLoggedIn){ %>
          <div>
            <a class='navbar-item' href="/register">Register</a>
          </div>

          <div>
            <a class='navbar-item' href="/login">Log In</a>
          </div>
          <% } %>

          <% if(locals.isLoggedIn){ %>
          <div>
            <a class='navbar-item' href="/circuits/new">Add a Circuit</a>
          </div>


          <div class='navbar-end'>
            <a class='navbar-item' href="/logout">Sign Out</a>
          </div>
        <% } %>
      </nav>
    </header>


    <%- body %>

    <footer class='footer'>
      <p>Contact Us</p>
    </footer>

  </body>
</html>
