<%#---->make sure only admin user can access create and edit actions on the show page   %>
<%#---->make sure only registered users can leave comments or add ratings  %>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Circuits Check</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class='navbar-start'>
          <a class='navbar-item' href="/">Home</a>
        </div>
        <a class='navbar-item' href="/about">About</a>
        <a class='navbar-item' href="/circuits">Circuits</a>
        <% if(!locals.isLoggedIn){ %>
        <a class='navbar-item' href="/register">Register</a>
        <a class='navbar-item' href="/login">Log In</a>
        <% } %>

        <% if(locals.isLoggedIn){ %>
        <a class='navbar-item' href="/circuits/new">Add a Circuit</a>
        <div class='navbar-end'>
          <a class='navbar-item' href="/logout">Sign Out</a>
        </div>
        <% } %>
      </nav>
    </header>

    <section class="container">
      <%- body %>
    </section>

    <footer class='footer'>
      <p>Contact Us</p>
    </footer>

  </body>
</html>
