<main>
  <h1>List Of Circuits</h1>
  <div class="circuit-grid">
    <% circuits.forEach(circuit => {%>
      <div>
      <a href="/circuits/<%= circuit.id %>">
      <img width="200px" height="200px" src="<%= circuit.image %>" />
      <h3><%= circuit.name %></h3>
      </a>
      </div>
      <% }) %>
    </div>
</main>
