<div class="newFormBody">
  <form action="/circuits" method="post">
    <div class="control">
      <label for="name">Name:</label>
      <input name="name" id="name" placeholder="e.g. Circuit Name">
    </div>
    <div class="control">
      <label for="lapLength">Lap Length:</label>
      <input name="lapLength" id="lapLength" placeholder="Lap length in miles">
    </div>
    <div class="control">
      <label for="fastestLap">Fastest Lap:</label>
      <input name="fastestLap" id="fastestLap" placeholder="Fastest Lap Time">
    </div>
    <div class="control">
      <label for="numberOfCorners">Number Of Corners:</label>
      <input name="numberOfCorners" id="numberOfCorners" placeholder="Number Of Corners">
    </div>
    <div class="control">
      <label for="name">Image (URL)</label>
      <input name="image" id="name" placeholder="URL Website">
    </div>
    <div class="control">
      <label for="video">Flying Lap</label>
      <input name="video" id="video" placeholder="URL for Flying Lap">
    </div>
    <button>Create New Circuit!</button>
  </form>
</div>
